<section *ngIf="environment">
<h2>Selected environment: {{environment.name}}</h2>
<h3>Details</h3>
<p>
  {{environment.currentBranch}} is the current deployed branch.
</p>
<p>
  The previous one was {{environment.previousBranch}}.
</p>
</section>

<section>
  <h3>NEW VALUES</h3>
  <form (ngSubmit)="saveNewBranch()" #envForm="ngForm">
    <div>
      <label for="newBranch"> Current branch: </label>
      <input type="text" name="newBranch" [(ngModel)]="environment.newBranch" #newBranch="ngModel">
    </div>
    <button type="submit">Save!</button>
  </form>
</section>

<button (click)="goToEnvironmentList()">Back to dashboard</button>

<!-- required [(ngModel)]="environment.currentBranch" -->
