<section *ngIf="environment">
<h2>{{environment.name}}</h2>
<h3>Details</h3>
<p>
  {{environment.currentBranch}} is the current deployed branch.
</p>
<p>
  The previous one was {{environment.previousBranch}}.
</p>
</section>

<section>
  <h3>Update</h3>
  <form (ngSubmit)="saveNewBranch()" #envForm="ngForm">
    <div>
      <label for="newBranch"> New current branch: </label>
      <input type="text" name="newBranch" [(ngModel)]="environment.newBranch" #newBranch="ngModel">
      <button type="submit">Update!</button>
    </div>
  </form>
</section>

<h3>User list</h3>
<section>
  <table align="center">
    <tr *ngFor="let users of targetUsers">
      <td>
        {{users.environment}}
      </td>
      <td>
        {{users.username}}
      </td>
      <td>
        {{users.password}}
      </td>
    </tr>
  </table>
</section>
<br/>
<button (click)="goToEnvironmentList()">Back to dashboard</button>

<!-- required [(ngModel)]="environment.currentBranch" -->
